body{
    text-align: center;
    margin-left: 50px;
   
   

    background-color: rgb(15, 196, 112);
}
h1{
    color: blue;
}


table,td{
    border: 1px solid black;
    border-collapse: collapse;
 
}
th{
    border: 1px solid black;
    border-collapse: collapse;
    background-color: crimson;
}


